{% extends "base.html.twig" %}
{% block body %}
<h1>Snow Tricks<h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quo illum 
blanditiis alias, necessitatibus quibusdam, velit asperiores, inventore ut magnam 
sed! Nobis voluptates atque iusto dolorum excepturi unde dicta laborum obcaecati 
sed officia minus voluptatibus natus vitae, repudiandae veniam accusamus.
</p>
<p>Necessitatibus, unde voluptatibus. Ea perspiciatis explicabo alias quae ratione 
obcaecati, excepturi cupiditate magni voluptatem tempora maxime consequatur laudantium 
veniam vel amet! Voluptatibus, nemo corrupti sequi laborum magni molestias numquam, 
iusto, quo cumque dolor molestiae ea quaerat modi nulla quasi illum!
</p>
{% endblock %}