{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Nom du Tricks</h2>
        <div class="metadata">Edité le 20/09/2022 à 23:23 dans le groupe Rotation</div>
        <div class="content">
            <img src="https://place-hold.it/250x150" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque maiores adipisci commodi quae fugit maxime.</p>
            <p>Totam ad nisi, molestiae rerum ullam, eveniet praesentium earum aut, eum deleniti repellendus illo odit.</p>
            <a href="{{ path('show_trick') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Nom du Tricks</h2>
        <div class="metadata">Edité le 20/09/2022 à 23:23 dans le groupe Rotation</div>
        <div class="content">
            <img src="https://place-hold.it/250x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur itaque adipisci dicta autem quam expedita?</p>
            <p>Voluptatem odit eaque repellendus a! Vero tenetur quis nesciunt eveniet necessitatibus nisi asperiores provident voluptates.</p>
            <a href="{{ path('show_trick') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Nom du Tricks</h2>
        <div class="metadata">Edité le 20/09/2022 à 23:23 dans le groupe Rotation</div>
        <div class="content">
            <img src="https://place-hold.it/250x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic natus ipsum recusandae eos sit?</p>
            <p>Aliquid, beatae labore recusandae possimus quasi sit eius autem eaque sapiente! Esse ad asperiores fugit.</p>
            <a href="{{ path('show_trick') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Nom du Tricks</h2>
        <div class="metadata">Edité le 20/09/2022 à 23:23 dans le groupe Rotation</div>
        <div class="content">
            <img src="https://place-hold.it/250x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sed pariatur quam repellat quia nihil?</p>
            <p>Magnam, sequi beatae porro dolorum iste hic non labore sint cupiditate exercitationem illo quia error!</p>
            <a href="{{ path('show_trick') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>
{% endblock %}
