{% extends "base.html.twig" %}
{% block body %}
    <article>
        <h2>Nom du Tricks</h2>
        <div class="metadata">Edité le 20/09/2022 à 23:23 dans le groupe Rotation</div>
        <div class="content">
            <img src="https://place-hold.it/500x300" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sed pariatur quam repellat quia nihil?</p>
            <p>Magnam, sequi beatae porro dolorum iste hic non labore sint cupiditate exercitationem illo quia error!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa culpa 
            eum accusamus quo voluptatibus corporis expedita repellendus voluptates 
            repellat? Alias corrupti consectetur quam modi, praesentium quis cum, 
            adipisci excepturi iusto rem facere earum voluptates expedita repudiandae 
            cumque delectus repellendus animi! Sit voluptatibus molestias, esse incidunt 
            quasi deserunt animi sed dicta!
            </p>
            <p>Molestiae sit nobis tempora a necessitatibus dolor illo amet blanditiis 
            itaque accusamus, ipsa minus iure hic aspernatur voluptas ex laudantium 
            similique nisi expedita commodi repudiandae beatae fuga dicta odio. 
            Iusto quas natus, expedita voluptate nemo doloremque doloribus, amet, 
            nulla impedit libero eos reiciendis ducimus mollitia. Porro excepturi 
            nostrum facilis possimus?
            </p>
        </div>
    </article>
{% endblock %}